<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<service android:name=".ReaderService"></service>
		<receiver android:name=".ReaderQueryReceiver" >
			<intent-filter >
				<action android:name="cn.panda.metro.android.psu.READER.query" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
